extends ../layouts/main.pug

block globes 
	- const title = "My super awersomer blogging paltform"

block content
	h1#header= title

	p.intro-text.second-class(data-attr="my value") it was a riany day in pizzaville.....	
